.content {
  opacity: 0;
  visibility: 0;
  height: 0px;
}
.modalTransition {
  transition: all 600ms;
  opacity: 1;
  visibility: 1;
  height: 0;
}

.clearfix{
  clear: both;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b0171f !important;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b0171f;
}
/********************************************
Contenido
 */

.contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 85%;
}

.header {
  width: 100%;
  height: 50px;
  color: white;
  background-color: #6986D7;
}

.item-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
  min-width: 50%;
}

.info {
  width: 80%;
  height: 400px;
  margin-top: 25px;
  margin-bottom: 25px;
}


/*
Estilos modal
*/

body {
  background-color: #fdf1ec;
}
.cajaPrecio{
  position: absolute;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
  background-color: #8D2324;
  width: 100px;
  height: 100px;
  left: 6px;
  top: 6px;
}
.cajaCerrar{
  position: absolute;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
  background-color: #8D2324;
  width: 60px;
  height: 60px;
  right: -20px;
  top: -25px;
}
.cerrar {
  cursor:pointer;
  position: absolute;
  color: #e3e3e3;
  font-family: 'Biryani', sans-serif;
  font-size: 30px;
  left: 22px;
  top: 12px;
}
.price {
  position: absolute;
  color: #e3e3e3;
  font-family: 'Biryani', sans-serif;
  font-size: 30px;
  left: 12px;
  top: 30px;
}
/*
FORMULARIOS DEL MODAL
 */
.formControls {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: 24px;
}

.formControls .formRadio {
  float: left;
  width: 25%;
  margin: 0px 0px 0px 38px;
}

.formControls .formNumber {
   margin: 10px 0px 0px 15px;
}

.wrapper {
  height: 420px;
  width: 720px;
  border-radius: 7px 7px 7px 7px;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img {
  float: left;
  height: 420px;
  width: 327px;
}

.product-img img {
  border-radius: 7px 0 0 7px;
}

.product-info {
  float: left;
  height: 420px;
  width: 392px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.product-text {
  width: 373px;
}

.product-text h1 {
  margin: -19px 0 0 38px;
  padding-top: 52px;
  font-size: 34px;
  color: #474747;
}

.product-text h1,
.product-price-btn p {
  font-family: 'Biryani', serif;
  font-size: 30px;
}

.product-text h1 p {
  display: inline;
}

.product-text h2 {
  margin: 0 0 20px 38px;
  font-size: 13px;
  font-family: 'Biryani', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}

.product-text p {
  margin: -10px 0 0 38px;
  font-family: 'Metrophobic', sans-serif;
  color: #8d8d8d;
  font-size: 20px;
  overflow: hidden;
}

.product-price-btn {
  height: 103px;
  width: 327px;
  margin-top: 17px;
  position: relative;
}



.product-price-btn p {
  display: inline-block;
  position: absolute;
  top: -13px;
  height: 50px;
  font-family: 'Trocchi', serif;
  margin: 0 0 0 38px;
  font-size: 28px;
  font-weight: lighter;
  color: #474747;
}

span {
  display: inline-block;
  height: 50px;
  font-family: 'Metrophobic', serif;
  font-size: 34px;
}

.product-price-btn button {

  display: inline-block;
  height: 50px;
  width: 176px;
  margin-left: 111px;
  margin-top: 10px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Metrophobic', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #8D2324;
  cursor: pointer;
  outline: none;
}

.product-price-btn button:hover {
  background-color: #a97575;
}

/*
ESTILOS RADIO BUTTONS
 */
* {
  font-family: 'Roboto', sans-serif;
}

@keyframes click-wave {
  0% {
    height: 20px;
    width: 20px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 50px;
    width: 50px;
    margin-left: -15px;
    margin-top: -15px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 6px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 20px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}

.option-input:hover {
  background: #9faab7;
}

.option-input:checked {
  background: #40e0d0;
}

.option-input:checked::before {
  height: 20px;
  width: 20px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
}

.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

.option-input.radio {
  border-radius: 50%;
}

.option-input.radio::after {
  border-radius: 50%;
}

body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  background: #e8ebee;
  color: #9faab7;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  text-align: center;
}

body div {
  padding: 5rem;
}

body label {
  display: block;
  line-height: 20px;
}

/*
ESTILO LISTA
 */
.check-list {
  margin: 5px 0 0 0;
  max-height: 80px;
  height: 80px;
  overflow-y: scroll;
  padding-left: 1.2rem !important;
}

.check-list li {
  position: relative;
  list-style-type: none;
  padding-left: 1.2rem;
  font-family: 'Metrophobic', sans-serif;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 18px;
  font-weight: lighter;
  margin: 0px 0px 0px 38px;
  overflow: hidden;
  /* margin-bottom: 0.5rem;  */
}

.check-list li:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: -2px;
  width: 5px;
  height: 11px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #8D2324;
  transform-origin: bottom left;
  transform: rotate(45deg);
}


/*
INPUT NUMBER
 */

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  border: 0;
  display: inline-flex;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0;
  position: relative;
  box-shadow: 0px 0px 1px #474747;
  border-radius: 50%;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 1rem;
  height: 2px;
  background-color: #212121;
  transform: translate(-50%, -50%);
}

.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
  font-family: sans-serif;
  max-width: 5rem;
  padding: .5rem;
  border: none;
  border-width: 0 2px;
  font-size: 2rem;
  height: 3rem;
  font-weight: bold;
  text-align: center;
  color: #8D2324;
}


@media (max-width: 800px) {
  .contenido {
    flex-direction: column;
  }

  .modalTransition {
    overflow-y: scroll;
  }

  .item-flex {
    width: 100%;
    justify-content: center;
  }

  .img {
    width: 500px;
  }
}



