<div class="content" [class.modalTransition]="timeLeft < 59">
  <div class="header"><h2>Termina tu pedido</h2></div>

  <div class="contenido">
    <div class="item-flex item1">
      <img src="{{productos.imgurl}}" class=" img-thumbnail img" alt="...">
    </div>
    <div class="item-flex item2">
      <div class="info">
        <h2>{{productos.name}}</h2>
        <h4>{{productos.type}}</h4>
        <br>
        <p>Ingredientes que contiene:</p>
        <ul>
          <li *ngFor="let ingredientes of productos.ingredients">{{ingredientes}}</li>
        </ul>
        <form [formGroup]="productoModalForm" (ngSubmit)="onSubmit()">
          <input type="radio" id="maiz" name="dough" formControlName="dough" value="maiz" >
          <label for="maiz">Maiz</label><br>
          <input type="radio" id="arroz" name="dough" formControlName="dough" value="arroz">
          <label for="arroz">Arroz</label><br>
          <input formControlName="quantity" min="1" name="quantity" type="number">
          <button type="submit">Añadir al carrito</button>
        </form>

      </div><!-- FIN INFO-->
    </div>
  </div>


</div>























