/* You can add global styles to this file, and also import other style files */

/*
ESTILOS MENU
 */
.cart-item {
  font-size: small;
}

.filtros {
  font-size: small;
}

.product-btn {
  font-size: smaller;
}
.activelink {
  background-color: #0000ff;
}

.pagination .active a {
  background: #007bff !important;
  border-color: #007bff !important;
  border-radius: 1000px !important;
}
.pagination a {
  border-radius: 200px !important;
  margin-left: 15px !important;
}

.flex-between {
  justify-content: space-between;
}
.flex-item {
  display: flex;
  padding: 2px;
  width: 100%;
}
.box {
  display: inline-block;
  font-size: 20px;
  line-height: 50px;
}
.fade {
  transition: opacity 0.15s ease-out !important;
}
.img-products:hover {
  opacity: 0.7;
  cursor: pointer;
}

.cursor-pointer{
  cursor: pointer;
}
.iconWidth{
  width: 60px;
  height: 60px;
}

@media (min-width: 576px){
  .modal-dialog {
    max-width: 1000px !important;
  }
}

/*
FIN ESTILOS MENU
 */
