 /* You can add global styles to this file, and also import other style files */


 @import url('https://fonts.googleapis.com/css2?family=Puritan:wght@700&display=swap');
 /*------- Biryani Bold 700*/ /*Titulos*/
 @import url('https://fonts.googleapis.com/css2?family=Biryani:wght@700&display=swap');

 /*------- Metrophobic Regular 400*/ /*Cuerpo*/
 @import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');


 *{
   font-family: 'Metrophobic', sans-serif;
 }

 /*@media (min-width: 576px){
   .modal-dialog {
     max-width: 720px !important;
     margin: 1.75rem auto;
   }
 }
*/




