<div class="container">
    <form action="">
        <div class="row form-group justify-content-center">
            <div class="col-8">
                <h1 class="text-center">Perfil de usuario</h1>
            </div>
        </div>
        <div class="row form-group justify-content-center">
            <div class="col-8">
                <input type="text" id="nombre" name="nombre" class="form-control" placeholder="nombre">
            </div>
        </div>
        <div class="row form-group justify-content-center">
            <div class="col-8">
                <input type="text" id="correo" name="correo" class="form-control" placeholder="correo">
            </div>
        </div>
        <div class="row form-group justify-content-center">
            <div class="col-8">
                <input type="text" id="telefono" name="telefono" class="form-control" placeholder="telefono">
            </div>
        </div>
        <div class="row form-group justify-content-center">
            <div class="col-8">
                <div class="row justify-content-end">
                    <button type="button" class="btn btn-dark">Cambiar contraseña</button>
                    <button type="button" class="btn btn-dark mx-3">Actualizar</button>
                </div>  
            </div>
        </div>
    </form>

    <form>
        <div class="row form-group justify-content-center">
            <div class="col-8">
                <h1 class="text-center">Acutalizar contraseña</h1>
            </div>
        </div>
        <div class="row form-group justify-content-center">
            <div class="col-8">
                <input type="text" id="contra" name="contra" class="form-control" placeholder="Contraseña actual">
            </div>
        </div>
        <div class="row form-group justify-content-center">
            <div class="col-8">
                <input type="text" id="nuevaContra" name="nuevaContra" class="form-control" placeholder="Nueva contraseña">
            </div>
        </div>
        <div class="row form-group justify-content-center">
            <div class="col-8">
                <input type="text" id="confirmarContra" name="confirmarContra" class="form-control" placeholder="Confirmar contraseña">
            </div>
        </div>
        <div class="row form-group justify-content-center">
            <div class="col-8">
                <div class="row justify-content-end">
                    <button type="button" class="btn btn-dark">Cambiar</button>
                    <button type="button" class="btn btn-dark mx-3">Cancelar</button>
                </div>
            </div>
        </div>
    </form>

    <form action="">

    </form>
</div>

