<div class="cuerpo">
    <div class="container shadow bg-white rounded py-4 col-8">
        <h1 class="p-2">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <span class="ml-2 titulo">Mi cuenta</span>
        </h1>
        <hr>
        <div class="accordion" id="accordionExample">
            <div class="card border-0">
                <div class="card-header border-0" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>
                            <span class="subtitulo ml-3 h4 ">Mis Datos Personales</span>
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body row justify-content-center formulario shadow-sm m-2 rounded">
                        <form [formGroup]="perfilUsuario" (ngSubmit)="guardarTelefono(perfilUsuario.value)" class="col-8">
                            <div class="form-label-group">
                                <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre"
                                    [value]="usuario.nombre" disabled>
                                <label for="nombre">Nombre</label>
                            </div>
                            <div class="form-label-group">
                                <input type="email" name="correo" id="correo" class="form-control" placeholder="Correo"
                                    [value]="usuario.correo" disabled>
                                <label for="correo">Correo</label>
                            </div>
                            <div class="form-label-group">
                                <input type="tel" name="telefono" id="telefono" class="form-control"
                                    placeholder="Telefono" formControlName="telefono" [value]="usuario.telefono" pattern="[0-9]{4}-[0-9]{4}">
                                <label for="telefono">Telefono</label>
                                <small *ngIf="this.perfilUsuario.get('telefono').errors?.pattern">Respete el patron del telefono</small>
                                <small *ngIf="this.perfilUsuario.get('telefono').touched && this.perfilUsuario.get('telefono').errors?.required">Este campo no puede quedar vacío</small>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-block boton-formulario" [disabled]="perfilUsuario.invalid">Actualizar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <hr>
            <div class="card border-0 border-bottom">
                <div class="card-header border-0" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn  btn-block text-left collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <i class="fa fa-map fa-lg" aria-hidden="true"></i>
                            <span class="subtitulo ml-3 h4">Direcciones</span>
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body formulario shadow-sm m-2 rounded">
                        <app-direccion (enviarDireccion)="guardarDireccion($event)"></app-direccion>
                        <div *ngFor="let direccion of usuario.direcciones" class="direccion mx-2 my-2 d-inline-block">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-1 mr-3">
                                            <i class="fa fa-map-marker fa-3x direccion-i" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-7">
                                            <div class="row h-25">
                                                <h5 class="card-title direccion-nombre">
                                                    {{direccion.nombre}}
                                                </h5>
                                            </div>
                                            <div class="row h-25 departamento-municipio">
                                                <p class="mt-2 mb-0"><small class="text-muted">{{direccion.departamento}} | {{direccion.municipio}}</small> </p>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="row justify-content-end">
                                                <a type="button" class="card-link-secondary mr-3 " (click)="eliminarDireccion(direccion)">
                                                    <i class="fa fa-trash mr-1" aria-hidden="true"></i>Eliminar
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="card-text">{{direccion.direccion}}</p>

                                    <!-- <div class="row">
                                        <label for="seleccionarD">Elegir esta dirección</label>
                                        <input class="d-inline-flex p-2 form-check-input" type="radio" name="seleccionarD" id="seleccionarD" required>
                                    </div> -->
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="card border-0 border-bottom">
                <div class="card-header border-0" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <i class="fa fa-key fa-lg" aria-hidden="true"></i>
                            <span class="subtitulo ml-3 h4 pt-1">Cambio Contraseña</span>
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <app-password></app-password>
                </div>
            </div>
        </div>
    </div>

</div>