<div class="cuerpo">
    <div class="container shadow bg-white rounded py-4">
        <form [formGroup]="">
            <div class="row form-group justify-content-center">
                <div class="col-8">
                    <h1 class="text-center">Perfil de usuario</h1>
                </div>
            </div>
            <div class="row form-group justify-content-center">
                <div class="col-8">
                    <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" [value]="usuario.nombre">
                </div>
            </div>
            <div class="row form-group justify-content-center">
                <div class="col-8">
                    <input type="text" id="correo" name="correo" class="form-control" placeholder="Correo" [value]="usuario.correo">
                </div>
            </div>
            <div class="row form-group justify-content-center">
                <div class="col-8">
                    <input type="text" id="telefono" name="telefono" class="form-control" placeholder="Teléfono" [value]="usuario.telefono">
                </div>
            </div>
            <div class="row form-group justify-content-center">
                <div class="col-8">
                    <div class="row justify-content-end">
                        <button type="button" class="btn btn-dark" (click)="password.activarDesactivar(true)">Cambiar contraseña</button>
                        <button type="button" class="btn btn-dark mx-3">Actualizar</button>
                    </div>  
                </div>
            </div>
        </form>
    
        <app-password #password></app-password>
    
        <div id="direcciones">
            <div class="row justify-content-center">
                <div class="col-8">
                    <h1 class="text-center">Direcciones</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-8">
                    <div *ngFor="let direccion of usuario.direcciones" class="row py-2">
                        <div class="card w-100">
                          <div class="card-body">
                            <h5 class="card-title">{{direccion.nombre}}</h5>
                            <div class="row">
                              <div class="col-8">
                                <p class="d-inline-flex card-text">{{direccion.direccion+", "+direccion.municipio+", "+direccion.departamento}}</p>
                              </div>
                              <div class="col-4">
                                <input class="d-inline-flex p-2 form-check-input" type="radio" name="direccion" [value]="direccion" formControlName="direccion" required>
                                <label>Elegir esta dirección</label>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-8 text-center">
                    <button class="btn btn-dark my-3" type="button" (click)="direccion.activarDesactivar(true)">Agregar Dirección</button>
                </div>
            </div>
        </div>
        <app-direccion #direccion (enviarDireccion)="guardarDireccion($event)"></app-direccion>
        
    </div>
</div>


