
<div class="card" style="width: 18rem;">
  <img  (click)="openModal()" class="card-img-top imagen" src="..." alt="Card image cap"  [class.img-products]="conditionalProduct()">
  <div class="card-body">
    <div class="flex-item flex-between">
      <div class="box">
        {{ productos.name }}
      </div>
      <div class="box">
        <strong>
          {{ productos.price | currency: "USD" }}
        </strong>
      </div>
    </div>
    <p class="card-text">{{ productos.description }}</p>
    <div class="text-center mt-auto pt-3">
      <div *ngIf="conditionalProduct(); then showPlus else showButtons"></div>
      <ng-template #showPlus><i class="fa fa-plus-circle cursor-pointer fa-2x" (click)="openModal()"></i></ng-template>
      <ng-template #showButtons>
        <form [formGroup]="productoForm" (ngSubmit)="onSubmit()">


          <input formControlName="quantity" min="1" name="quantity" type="number">


          <button type="submit"><i class="fa fa-cart-plus cursor-pointer fa-3x"></i></button>

        </form>


      </ng-template>


    </div>
  </div>
</div>
