<div class="componente">
    <div class="container p-3 shadow bg-white rounded">
        <app-lista-productos #listaCarrito (enviarTotal)="recibirTotal($event)" (carritoVacio)="estadoCarrito($event)"></app-lista-productos>
    </div>
    <div class="container mt-4">
        <div class="row justify-content-between mt-3">
            <div class="col-3 text-center align-self-center">
                <button class="btn" routerLink="/menu">
                    Regresar al menú
                </button>
            </div>
            <div class="col-3 align-self-center">
                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Botón deshabilitado">
                    <button class="btn" (click)="listaCarrito.vaciarCarrito()" [disabled]="carritoVacio">Vaciar carrito</button>
                </span>
                
            </div>
            <div class="col-3 text-center mr-5 border rounded shadow bg-white">
                <p class="h3 my-2">Total: <span class="ml-3"><span class="mr-1">$</span> {{total.toFixed(2)}}</span></p>
                <hr>
                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Botón deshabilitado"> 
                    <button class="btn mt-2 mb-3" routerLink="/datos-pedido" (click)="listaCarrito.guardarCambios()" [disabled]="carritoVacio">Realizar compra</button>
                </span>
            </div>
        </div>
    </div>    
</div>

