.title{
    font-family: "Biryani", "sans-serif" ;
    color: #313131;
    margin-top: 30px; 
}

button{
    background-color:  #0098D5;
}

button:hover{
    background-color: #585858;
    color: white;
}

.carrito-vacio{
    background-color: #465B6B;
}


.fa-minus, .fa-plus, .carrito-vacio{
    color: white;
}



.col-margen-izquierda{
    padding-left: 40px;
}

.lista-productos{ 
    padding: auto 30px;
    max-height: 600px;
    overflow-y: auto; 
    overflow-x: hidden;
}

.descripcion-producto{
    color: #7A7A7A;
}