<p>sign-in works!</p>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="form-gap">
  <div class="container">
	  <div class="row">
		  <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-users fa-4x"></i></h3>
                  <h2 class="text-center">Inicia sesión</h2>
                  <div class="panel-body">   
                     <div class="form-group">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Correo Electrónico" #userName required>
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control" placeholder="Contraseña" #userPassword required>
                      </div>
                      <br>  
                      <!-- Calling SignIn Api from AuthService -->
                      <div class="form-group">
                        <input type="button" class="btn btn-lg btn-primary btn-block" value="Iniciar sesión"(click)="authService.SignIn(userName.value, userPassword.value)">
                      </div>
                      <!-- Calling GoogleAuth Api from AuthService -->
                      <div class="form-group">
                        <button type="button" class="btn btn-lg btn-secondary btn-block" (click)="authService.GoogleAuth()">
                          <i class="fab fa-google-plus-g"></i>
                            Iniciar sesión con Google
                        </button>
                      </div>
                  </div>
                      <div class="forgot-password">
                        <span routerLink="/forgot-password" class="sp"><u><i>¿Olvidaste tu contraseña?</i></u></span>
                      </div>
                      <br>
                      <div class="form-group">
                        <span>¿No tienes cuenta? <span class="redirect" routerLink="/register-user"><u><i> ¡Registrate!</i></u></span></span>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
	      </div>
      </div>
  </div>                
  