<div class="card-body row justify-content-center formulario shadow-sm m-2 rounded">
    <!-- <form [formGroup]="" class="col-8">
        <div class="form-label-group">
            <input type="text" name="cActual" id="cActual" class="form-control" placeholder="Contraseña Actual*">
            <label for="cActual">Contraseña Actual*</label>
        </div>
        <div class="form-label-group">
            <input type="text" name="cNueva" id="cNueva" class="form-control" placeholder="Nueva Contraseña*">
            <label for="cNueva">Nueva Contraseña*</label>
        </div>
        <div class="form-label-group">
            <input type="text" name="cConfirmar" id="cConfirmar" class="form-control" placeholder="Confirma tu nueva contraseña*">
            <label for="cConfirmar">Confirma tu nueva contraseña*</label>
        </div>
        <div>
            <button type="button" class="btn btn-block boton-formulario">Actualizar</button>
        </div>
    </form> -->
    <div class="col">
        <div class="row justify-content-center">
            <p>Presione el botón para recibir un correo con un enlace para poder restablecer su contraseña</p>
            <p>Al presionar el botón su cesión actual será cerrada</p>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="btn boton-formulario" (click)="resetearContra()">Enviar correo</button>
        </div>
    </div>
    
</div>
