<form *ngIf="activarContra">
    <div class="row form-group justify-content-center">
        <div class="col-8">
            <h1 class="text-center">Acutalizar contraseña</h1>
        </div>
    </div>
    <div class="row form-group justify-content-center">
        <div class="col-8">
            <input type="text" id="contra" name="contra" class="form-control" placeholder="Contraseña actual">
        </div>
    </div>
    <div class="row form-group justify-content-center">
        <div class="col-8">
            <input type="text" id="nuevaContra" name="nuevaContra" class="form-control" placeholder="Nueva contraseña">
        </div>
    </div>
    <div class="row form-group justify-content-center">
        <div class="col-8">
            <input type="text" id="confirmarContra" name="confirmarContra" class="form-control" placeholder="Confirmar contraseña">
        </div>
    </div>
    <div class="row form-group justify-content-center">
        <div class="col-8">
            <div class="row justify-content-end">
                <button type="button" class="btn btn-dark" (click)="activarDesactivar(false)">Cambiar</button>
                <button type="button" class="btn btn-dark mx-3" (click)="activarDesactivar(false)">Cancelar</button>
            </div>
        </div>
    </div>
</form>
