<div class="container">
    <div class="py-3 text-center">
      <h2>Confirmación del pedido</h2>
    </div>
    <div class="row mb-5">
      <div class="col-md-5 order-md-2 mb-4">
        <app-carrito></app-carrito>
      </div>
      <div class="col-md-7 order-md-1">
        <h4>Datos del cliente</h4>
        <hr>
        <form>
          <div class="row">
            <!--
              <div class="col-md-6 mb-3">
              <label for="nombres">Nombres</label>
              <input type="text" class="form-control" id="nombres" placeholder="" value="" required readonly>
              <div class="invalid-feedback">
                Debe ingresar nombres válidos.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="apellidos">Apellidos</label>
              <input type="text" class="form-control" id="apellidos" placeholder="" value="" required readonly>
              <div class="invalid-feedback">
                Debe ingresar apellidos válidos.
              </div>
            </div>
            -->
            <div class="col-md-12 mb-3">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" id="nombre" [value]="usuario.nombre" required readonly>
              <div class="invalid-feedback">
                Debe ingresar un nombre válido.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="correo">Correo</label>
              <input type="email" class="form-control" id="correo" [value]="usuario.correo" required readonly>
              <div class="invalid-feedback">
                Por favor ingrese un correo válido.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="telefono">Telefono</label>
              <input type="tel" class="form-control" id="telefono" [value]="usuario.telefono" pattern="[0-9]{4}-[0-9]{4}" required readonly>
              <div class="invalid-feedback">
                Por favor ingrese un telefono válido.
              </div>
            </div>
          </div>

          <div class="mb-3 pt-2">
            <h4>Direcciones Actuales</h4>
            <hr>
          </div>
  
          <!--Direcciones-->
          <div class="mb-3" class="direcciones">
            <div *ngFor="let direccion of usuario.direcciones" class="row py-2">
              <div class="card w-100">
                <div class="card-body">
                  <h5 class="card-title">{{direccion.nombre}}</h5>
                  <div class="row">
                    <div class="col-8">
                      <p class="d-inline-flex card-text">{{direccion.direccion+", "+direccion.municipio+", "+direccion.departamento}}</p>
                    </div>
                    <div class="col-4">
                      <input class="d-inline-flex p-2 form-check-input" type="radio" name="direccion">
                      <label>Elegir esta dirección</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Direcciones-->

          <!--Modal para agregar direcciones-->
          <div class="mb-3 text-center">
            <app-modal-direcciones></app-modal-direcciones>
          </div>

          <div class="mb-3">
            <div class="row justify-content-between">
              <button class="btn btn-primary" routerLink="/menu" type="submit">Regresar al menú</button>
              <button class="btn btn-primary" routerLink="/carrito" type="submit">Regresar al carrito</button>
              <button class="btn btn-success" routerLink="" type="submit">Confirmar compra</button>
            </div>
          </div>
        </form>
      </div>
    </div>
</div>
