.direcciones{
    max-height: 350px;
    overflow-y: scroll;
}

h1, h2, h3, h4{
    font-family: 'Biryani', 'sans-serif';
}

button, .fondo{
    background-color: #b0171f;
    color: white;
}
button:hover{
    background-color: #000000;
    color: white;
}

.sin-direcciones{
    background-color: #000000;
    color: white;
}




.scrollbar-color::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; 
}
    
.scrollbar-color::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #b0171f; 
}
    
.scrollbar-color {
    scrollbar-color: #b0171f #F5F5F5;
}

.thin::-webkit-scrollbar {
    width: 6px; 
}