<div *ngIf="confirmarOrden" class="container">
  <div class="my-3 py-3 text-center">
    <h1>Confirmación del pedido</h1>
  </div>
  <div class="row mb-5">
    <div class="col-6 mr-5">

      <div class="row shadow bg-white rounded">
        <div class="col">
          <div class="row justify-content-center mt-3">
            <h4>Datos del cliente</h4>
          </div>
          <div class="row">
            <div class="col-12 mb-3">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" id="nombre" [value]="usuario.nombre" required readonly>
            </div>
          </div>

          <div class="row">
            <div class="col-6 mb-3">
              <label for="correo">Correo</label>
              <input type="email" class="form-control" id="correo" [value]="usuario.correo" required readonly>
            </div>
            <div class="col-6 mb-3">
              <label for="telefono">Teléfono</label>
              <input type="tel" class="form-control" id="telefono" [value]="usuario.telefono" pattern="[0-9]{4}-[0-9]{4}" required readonly>
            </div>
          </div>
        </div>

      </div>

      <div class="row mt-4 shadow bg-white rounded">
        <div class="col">
          <div class="row justify-content-center mt-3">
            <h4>Direcciones Actuales</h4>
          </div>
          <form [formGroup]="formularioDatos" class="row justify-content-center direcciones scrollbar square scrollbar-color thin">
            <!--Direcciones-->
            <div class="col-10" *ngIf="usuario.direcciones.length > 0; else sinDirecciones">
              <div *ngFor="let direccion of usuario.direcciones" class="row py-2">
                <div class="card w-100">
                  <div class="card-body">
                    <h5 class="card-title">{{direccion.nombre}}</h5>
                    <div class="row">
                      <div class="col-8">
                        <p class="d-inline-flex card-text">{{direccion.direccion+", "+direccion.municipio+", "+direccion.departamento}}</p>
                      </div>
                      <div class="col-4">
                        <input class="d-inline-flex p-2 form-check-input" type="radio" name="direccion" [value]="direccion" formControlName="direccion" required>
                        <label>Elegir esta dirección</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>              
            </div>
            <!--Direcciones-->

            <ng-template #sinDirecciones>
              <div class="col-10 text-center">
                <p class="bg-warning rounded py-2">No posee direcciones registradas</p>
              </div>
            </ng-template>
            
          </form>

          

          <!--Modal para agregar direcciones-->
          <div class="row justify-content-center">
            <div class="mb-3 text-center">
              <app-modal-direcciones (agregarDireccion)="guardarDireccion($event)"></app-modal-direcciones>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-5 shadow bg-white rounded resumen scrollbar square scrollbar-color thin">
      <app-carrito></app-carrito>
    </div>
  </div>

  <div class="row justify-content-between">
    <button class="btn btn-primary" routerLink="/menu" type="button">Regresar al menú</button>
    <button class="btn btn-primary" routerLink="/carrito" type="button">Regresar al carrito</button>
    <button class="btn btn-success" type="submit" (click)="procesarOrden(formularioDatos.value)"  [disabled]="formularioDatos.invalid">Confirmar compra</button>
  </div>
</div>