<div class="componente">
  <!--<div *ngIf="confirmarOrden" class="container">-->
  <div *ngIf="confirmarOrden" class="container">
    <div class="mb-4 text-center">
      <h1>Confirmación del pedido</h1>
    </div>
    <div class="row mb-5">
      <div class="col-6 mr-5">

        <div class="row shadow bg-white rounded">
          <div class="col">
            <div class="row pl-3 mt-3">
              <h4>
                <i class="fa fa-user mr-2" aria-hidden="true"></i>Datos del cliente
              </h4>
            </div>
            <hr class="mt-0">
            <div class="row">
              <div class="col-12 mb-3">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" [value]="usuario.nombre" required readonly>
              </div>
            </div>

            <div class="row">
              <div class="col-6 mb-3">
                <label for="correo">Correo</label>
                <input type="email" class="form-control" id="correo" [value]="usuario.correo" required readonly>
              </div>
              <div class="col-6 mb-3">
                <label for="telefono">Teléfono</label>
                <input type="tel" class="form-control" id="telefono" [value]="usuario.telefono"
                  pattern="[0-9]{4}-[0-9]{4}" required readonly>
              </div>
            </div>
          </div>

        </div>

        <div class="row mt-4 shadow bg-white rounded">
          <div class="col">
            <div class="row pl-3 mt-3">
              <h4>
                <i class="fa fa-address-book-o mr-2" aria-hidden="true"></i>Direcciones Actuales
              </h4>
            </div>
            <hr class="mt-0">
            <form [formGroup]="formularioDatos"
              class="row justify-content-center direcciones scrollbar scrollbar-color thin">
              <!--Direcciones-->
              <div class="col-10" *ngIf="usuario.direcciones.length > 0; else sinDirecciones">
                <div *ngFor="let direccion of usuario.direcciones" class="direccion mx-2 my-2">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-1 mr-3">
                          <i class="fa fa-map-marker fa-3x direccion-i" aria-hidden="true"></i>
                        </div>
                        <div class="col-7">
                          <div class="row h-25">
                            <h5 class="card-title direccion-nombre">
                              {{direccion.nombre}}
                            </h5>
                          </div>
                          <div class="row h-25 departamento-municipio">
                            <p class="mt-2 mb-0"><small class="text-muted">{{direccion.departamento}} |
                                {{direccion.municipio}}</small> </p>
                          </div>
                        </div>
                        <div class="col-3">
                          <div class="row justify-content-end">
                            <a type="button" class="card-link-secondary mr-3 " (click)="eliminarDireccion(direccion)">
                              <i class="fa fa-trash mr-1" aria-hidden="true"></i>Eliminar
                            </a>
                          </div>
                        </div>
                      </div>
                      <p class="card-text">{{direccion.direccion}}</p>

                      <div class="row justify-content-end">
                        <div class="col-8 ">
                          <label for="direccion" class="ml-5">Elegir esta dirección</label>
                          <input class="form-check-input ml-4" type="radio" name="direccion" id="direccion" [value]="direccion" formControlName="direccion" required>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <!--Direcciones-->

              <ng-template #sinDirecciones>
                <div class="col-10 text-center">
                  <p class="rounded py-2 sin-direcciones">No posee direcciones registradas</p>
                </div>
              </ng-template>

            </form>



            <!--Modal para agregar direcciones-->
            <div class="row justify-content-center">
              <div class="mb-3 text-center">
                <app-modal-direcciones (agregarDireccion)="guardarDireccion($event)"></app-modal-direcciones>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-5">
        <div class="p-3 shadow bg-white rounded">
          <app-carrito></app-carrito>
        </div>

        <div class="row justify-content-between mt-5">
          <button class="btn" routerLink="/menu" type="button">Regresar al menú</button>
          <button class="btn" routerLink="/carrito" type="button">Regresar al carrito</button>
          <button class="btn" type="submit" (click)="procesarOrden(formularioDatos.value)"
            [disabled]="formularioDatos.invalid">Confirmar compra</button>
        </div>
      </div>
    </div>


  </div>

  <!--<div *ngIf="ordenProcesada" class="container">-->
  <div *ngIf="ordenProcesada" class="container shadow bg-white rounded p-3 w-50">
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="row justify-content-center text-success">
          <i class="fa fa-check-circle-o fa-5x" aria-hidden="true"></i>
        </div>
        <div class="row justify-content-center">
          <h1 class="text-center">Pedido procesado con éxito</h1>
        </div>
        <hr class="mt-0">
        <div class="row justify-content-center">
          <h3 class="text-center">Número de orden:</h3>
        </div>
        <div class="row justify-content-center">
          <h3 class="text-center text-danger">{{orden.id}}</h3>
        </div>
        <hr>
        <div class="row">
          <p>Gracias por preferirnos. Puede revisar el estado de su pedido en su <a>Historial</a></p>
          <p>Ante cualquier duda o inconveniente con su orden, puede llamarnos al número 2254-6854, guarde su número de
            orden.</p>
        </div>
        <div class="row">

        </div>
        <div class="row">
          <div class="col">
            <div class="row justify-content-center">
              <h3>Resumen</h3>
            </div>
            <div class="row justify-content-center">
              <ul class="list-group mb-3">
                <li *ngFor="let producto of productos"
                  class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                    <h6 class="my-0">{{producto.nombre}} <span class="badge cantidad">x{{producto.cantidad}}</span></h6>
                    <small class="text-muted">{{producto.descripcion}}</small>
                  </div>
                  <span class="text-muted">${{(producto.costo*producto.cantidad).toFixed(2)}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <span>Total (USD)</span>
                  <strong>${{total.toFixed(2)}}</strong>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>