.bg-light{
    background-color: rgba(176, 23, 31) !important; 
    padding: 0  ;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
  }
  
  .nav-text{   
    margin: 5px 20px 0px;
    border-bottom: 5px solid #AD1522;
    display:inline-block;
    font-family: 'Biryani', sans-serif;
    font-size: 0.9em;
    color: white !important;  
    overflow: visible;
  }
  
.direcciones{
    max-height: 350px;
    overflow-y: scroll;
}

.direccion-i{
    color:  #0098D5;
}

h1, h2, h3, h4{
    font-family: 'Biryani', 'sans-serif';
}

button, .fondo{
    background-color: #0098D5;
    color: white;
}
button:hover{
    background-color: #465B6B;
    color: white;
}

.sin-direcciones{
    background-color: #465B6B;
    color: white;
}

.cantidad{
    background-color: #b0171f; 
    color: white;
}

.componente{
    padding-top: 50px;
    padding-bottom: 50px;
}



.scrollbar-color::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; 
}
    
.scrollbar-color::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #b0171f; 
}
    
.scrollbar-color {
    scrollbar-color: #b0171f #F5F5F5;
}

.thin::-webkit-scrollbar {
    width: 6px; 
}