 
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
      <div class="text-center">
          <ul class="navbar-nav ">
              <li class="nav-item active">
                  <a class="nav-text nav-link" routerLink="/menu">VOLVER AL MENÚ</a>
              </li> 
          </ul>
      </div>
  </div>
</nav> 
<!--/Barra central-->
<div class="page-wrapper bg-red p-t-100 p-b-100 font-robo">
  <div class="wrapper wrapper--w960">
      <div class="card card-2">
          <div class="card-heading"></div>
          
          <div class="card-body">
              <!--Titulo de formulario-->
              <h2 class="title">
                Crea tú cuenta
              </h2>
             
              <!--//Titulo de formulario-->
              <form [formGroup]="signupForm" class="needs-validation" novalidate>
                <!--Nombre-->
                <div class="form-group">
                  <label>Nombre completo</label>
                  <input formControlName="nombre" [ngClass]="displayFieldCss('nombre')" type="text" class="form-control input-lg" placeholder="Nombre completo*">
                  <!--Advertencias de validacion-->
                  <small *ngIf="this.signupForm.get('nombre').touched && this.signupForm.get('nombre').errors?.required">
                    Este campo es requerido
                  </small>
                  <small *ngIf="this.signupForm.get('nombre').errors?.minlength">
                    El nombre debe tener más de 3 caracteres
                  </small>
                  <small *ngIf="this.signupForm.get('nombre').errors?.maxlength">
                    El nombre debe tener menos de 22 caracteres
                  </small>
            
                  <!--/Advertencias de validacion-->
                </div>
                <!--/Nombre-->

                <!--Correo electronico-->
                <div class="form-group">
                  <label>Correo electronico</label>
                  <input formControlName="correo" type="email" class="form-control input-lg" placeholder="Correo electronico*">
                  <!--Advertencias de validacion-->
                  <small *ngIf="this.signupForm.get('correo').touched && this.signupForm.get('correo').errors?.required">
                    Este campo es requerido
                  </small>
                  <small *ngIf="this.signupForm.get('correo').errors?.email">
                    Debe ingresar un correo válido. Ej: usuario@dominio.com
                  </small>
                  <!--/Advertencias de validacion-->
                </div>
                <!--/Correo electronico-->


              <!--Contraseña-->
              <div class="form-group">
                  <label>Contraseña</label>
                  <input formControlName="pwd"  type="password" name="password" id="password" class="form-control input-lg" placeholder="Contraseña*">
                  <small *ngIf="this.signupForm.get('pwd').touched && this.signupForm.get('pwd').errors?.required">
                    Este campo es requerido
                  </small>
                  <small *ngIf="this.signupForm.get('pwd').errors?.minlength">
                    La contraseña debe tener más de 6 caracteres
                  </small>
                  <small *ngIf="this.signupForm.get('pwd').errors?.maxlength">
                    La contraseña debe tener menos de 12 caracteres
                  </small>                  
              </div>
               
                <!--Advertencia de campos requeridos-->
                    <div  class="text-right" style="margin-top: 10px;"> 
                      <p>*Campos requeridos</p>
                    </div>
                <!--/Advertencia de campos requeridos--> 

              <!--/Contraseña-->

              <!--Boton registrarse-->
              <button (click)="registrarUsuario()" class="btn btn-md btn-primary btn-block" id="btn-login" type="button" >REGISTRAR</button>
              <!--/Boton iniciar sesión-->


              </form>
          </div>
      </div>
  </div>
</div>

  