

/*=============== TITLE ================*/
.navbar-brand{ 
  font-family: 'Biryani', sans-serif;
  color: black;  
  font-size: 1.5em;
}
/*======================================*/


.bg-light{
  background-color: rgba(176, 23, 31) !important; 
  padding: 0  ;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
}

.nav-text{   
  margin: 5px 20px 0px;
  border-bottom: 5px solid #AD1522;
  display:inline-block;
  font-family: 'Biryani', sans-serif;
  font-size: 0.9em;
  color: white !important;  
  overflow: visible;
}


.authblocknav{
  position: relative;
  display: inline-block;
  text-decoration: none;
  margin-left: 10px;
  width: 100px;
  height: 17px;
}
.authblocknav p{
  top: 1;
  display: block;
  color: white;
  font-size: 1.05em;
  cursor: pointer;
}
.webcolor{
  overflow: visible !important;
  background-color: rgba(176, 23, 31) !important; 
}

.webcolor .btn-info{
  border: none;
}
.botoncartcolor{
  color: white;
  background-color: #252525 !important;
  border: none;
}
.botoncartcolor:active{
  background-color: #252525;
  border: none;
}
.botoncartcolor:visited{
  background-color: #252525;
  border: none;
}
/* Nuevo Diseño */

.cuerpo{
  --color-1: #fff;
  --color-2: rgba(184,182,181,0.2);
  background: 
  linear-gradient(135deg, var(--color-1) 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, var(--color-1) 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, var(--color-1) 25%, transparent 25%),
  linear-gradient(45deg, var(--color-1) 25%, transparent 25%);	
  background-size: 8em 8em;
  background-color:var(--color-2);
  /*background-color:rgba(227,28,34,0.1);*/

  /*background-color: rgba(176,23,31,0.3);
  background-color: rgba(0,152,213,0.3);
  background-color:rgba(184,182,181,0.3);*/
}

.cantidad{
  position: relative;
  left: -5px;
  top: -10px;
  transform: scale(0.9);
}

.logo{
  transform: scale(0.5);
}

.historial{
  color:  #0098D5;
}


 
  /* ==========================================================================
     #GRID
     ========================================================================== */
  .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .row-space {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
  .col-2 {
    width: -webkit-calc((100% - 60px) / 2);
    width: -moz-calc((100% - 60px) / 2);
    width: calc((100% - 60px) / 2);
  }
  
  @media (max-width: 767px) {
    .col-2 {
      width: 100%;
    }
  }
   
  
  /* ==========================================================================
     #PAGE WRAPPER
     ========================================================================== */
  .page-wrapper {
    min-height: 100vh;
  }
  
  body {
    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 14px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
  }
  
  h1 {
    font-size: 36px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  h3 {
    font-size: 24px;
  }
  
  h4 {
    font-size: 18px;
  }
  
  h5 {
    font-size: 15px;
  }
  
  h6 {
    font-size: 13px;
  }
  
  /* ==========================================================================
     #BACKGROUND
     ========================================================================== */
  .bg-blue {
    background: #2c6ed5;
  }
  
  .bg-red {
    background: #F2F2F2;
  }
  
  /* ==========================================================================
     #SPACING
     ========================================================================== */
  .p-t-100 {
    padding-top: 100px;
  }
  
  .p-t-180 {
    padding-top: 180px;
  }
  
  .p-t-20 {
    padding-top: 20px;
  }
  
  .p-t-30 {
    padding-top: 30px;
  }
  
  .p-b-100 {
    padding-bottom: 100px;
  }
  
  /* ==========================================================================
     #WRAPPER
     ========================================================================== */
  .wrapper {
    margin: 0 auto;
  }
  
  .wrapper--w960 {
    max-width: 960px;
  }
  
  .wrapper--w680 {
    max-width: 680px;
  }
  

  /* ==========================================================================
     #TITLE
     ========================================================================== */
  
  .title { 
    font-weight: 700; 
    font-family: 'Biryani', sans-serif;
    color: #FD264B; 
	  line-height: 300%;
  }

  /* ==========================================================================
     #LOGIN
     ========================================================================== */
  
  #btn-login{
    background-color: #0098D5;
    border-color: #0098D5;
    margin-top: 25px;
    font-family: 'Jaldi', sans-serif;
    letter-spacing: 1.5px;
}
#btn-login:hover{
    background-color: #465B6B;
    border-color: #465B6B;
}


  /* ==========================================================================
     #CARD
     ========================================================================== */
  .card {
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
  }
  
  .card-2 {
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 100%;
    display: table;
  }
  
  .card-2 .card-heading {
    
    background: url("../../assets/heading-registro-1.jpg") top left/cover no-repeat;
    /*background: url("../../assets/heading-registro.jpg") top left cover no-repeat; */
    width: 29.1%;
    display: table-cell;
  }
  
  .card-2 .card-body {
    display: table-cell;
    padding: 80px 90px;
    padding-bottom: 88px;
  }
  
  @media (max-width: 767px) {
    .card-2 {
      display: block;
    }
    .card-2 .card-heading {
      width: 100%;
      display: block;
      padding-top: 300px;
      background-position: left center;
    }
    .card-2 .card-body {
      display: block;
      padding: 60px 50px;
    }
  }
  