<div class="page-wrapper bg-red p-t-100 p-b-100 font-robo">
  <div class="wrapper wrapper--w960">
      <div class="card card-2">
          <div class="card-heading"></div>
          
          <div class="card-body">
              <!--Titulo de formulario-->
              <h2 class="title">
                Crea tú cuenta
              </h2>
             
              <!--//Titulo de formulario-->
              <form [formGroup]="signupForm" class="needs-validation" novalidate>
                <!--Nombre-->
                <div class="form-group">
                  <label>Nombre completo</label>
                  <input formControlName="nombre" [ngClass]="displayFieldCss('nombre')" type="text" class="form-control input-lg" placeholder="Nombre completo*">
                  <!--Advertencias de validacion-->
                  
            
                  <!--/Advertencias de validacion-->
                </div>
                <!--/Nombre-->

                <!--Correo electronico-->
                <div class="form-group">
                  <label>Correo electronico</label>
                  <input formControlName="correo" type="email" class="form-control input-lg" placeholder="Correo electronico*">
                  <!--Advertencias de validacion-->
                  <span class="help-block">
                  </span>
                  <!--/Advertencias de validacion-->
                </div>
                <!--/Correo electronico-->


              <!--Contraseña-->
              <div class="form-group">
                  <label>Contraseña</label>
                  <input formControlName="pwd"  type="password" name="password" id="password" class="form-control input-lg" placeholder="Contraseña*">                  
              </div>
               
                <!--Advertencia de campos requeridos-->
                    <div  class="text-right" style="margin-top: 10px;"> 
                      <p>*Campos requeridos</p>
                    </div>
                <!--/Advertencia de campos requeridos--> 

              <!--/Contraseña-->

              <!--Boton registrarse-->
              <button (click)="registrarUsuario()" class="btn btn-md btn-primary btn-block" id="btn-login" type="button" >REGISTRAR</button>
              <!--/Boton iniciar sesión-->


              </form>
          </div>
      </div>
  </div>
</div>

  