<!--Contenedor de carrito-->
<div class="bg-info">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-12 text-right">
          <button *ngIf="authService.userData as user; else mostrar_modal" type="button" routerLink="/carrito" class="btn btn-info" data-toggle="dropdown">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i> Carrito
            <span class="badge badge-pill badge-danger">{{menuCartservice.getCartLength()}}</span>
            <span class="h6 ml-2">$ {{menuCartservice.getCartTotal().toFixed(2)}}</span>
          </button>

        <ng-template #mostrar_modal>
            <button type="button" (click)="abrirModalParaAutentificarse()" class="btn btn-info" data-toggle="dropdown">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i> Carrito
              <span class="badge badge-pill badge-danger">{{menuCartservice.getCartLength()}}</span>
              <span class="h6 ml-2">$ {{menuCartservice.getCartTotal().toFixed(2)}}</span>
            </button>
        </ng-template>

        <!--Mensaje de bienvenida-->        
        <div class="authblocknav" *ngIf="authService.userData as user; else iniciar_sesion">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Bienvenido
                    {{authService.getUserName()}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" routerLink="/perfil-usuario">Perfil de usuario</a>
              <a class="dropdown-item cursor-pointer" href="#" (click)="authService.SignOut()">Cerrar Sesion</a>
            </div>
          </div>
        </div> 
        <!--/EOF Mensaje de bienvenida-->

        <!--Boton para iniciar sesion-->
        <ng-template #iniciar_sesion> 
          <div class="authblocknav">
            <div class="dropdown">
              <button (click)="abrirModalParaAutentificarse()" class="btn btn-secondary"  style="white-space: nowrap;" type="button" id="loginbutton">
                Iniciar sesion
              </button>
            </div>
          </div> 
        </ng-template>  
        <!--/EOF Boton para inicias sesion-->  

      </div>
    </div>
  </div>

</div>
<!--/EOF Contenedor de carrito-->

<div class="container">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
