

/*=============== TITLE ================*/
.navbar-brand{ 
  font-family: 'Biryani', sans-serif;
  color: #006EF9;  
}
/*======================================*/


.bg-light{
  background-color: rgba(176, 23, 31) !important; 
  padding: 0  ;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
}

.nav-text{   
  margin: 5px 20px 0px;
  border-bottom: 5px solid #AD1522;
  display:inline-block;
  font-family: 'Biryani', sans-serif;
  font-size: 0.9em;
  color: white !important;  
  overflow: visible;
}

.nav-text:hover{
  border-bottom: 5px solid white; 
}
.authblocknav{
  position: relative;
  display: inline-block;
  text-decoration: none;
  margin-left: 10px;
  width: 100px;
  height: 17px;
}
.authblocknav p{
  top: 1;
  display: block;
  color: white;
  font-size: 1.05em;
  cursor: pointer;
}
.webcolor{
  overflow: visible !important;
  background-color: rgba(176, 23, 31) !important; 
}

.webcolor .btn-info{
  border: none;
}
.botoncartcolor{
  color: white;
  background-color: #252525 !important;
  border: none;
}
.botoncartcolor:active{
  background-color: #252525;
  border: none;
}
.botoncartcolor:visited{
  background-color: #252525;
  border: none;
}
/* Nuevo Diseño */
