<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Agregar una nueva dirección</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="formularioDireccion" (ngSubmit)="guardarDireccion(formularioDireccion.value)">
          <div class="form-group">
            <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre de la dirección*" required>
            <span *ngIf="this.formularioDireccion.get('nombre').touched && this.formularioDireccion.get('nombre').errors?.required">
              (El nombre no puede quedar vacío)
            </span>
            <span *ngIf="this.formularioDireccion.get('nombre').errors?.validarCadena">
              (El nombre de la dirección debe de ser una cadena de texto)
            </span>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" formControlName="direccion" placeholder="Dirección*">
            <span *ngIf="this.formularioDireccion.get('direccion').touched && this.formularioDireccion.get('direccion').errors?.required">
              (La dirección no puede quedar vacía)
            </span>
            <span *ngIf="this.formularioDireccion.get('direccion').errors?.validarCadena">
              (La dirección debe de ser una cadena de texto)
            </span>
          </div>
          <div class="row form-group">
              <div class="col-6">
                <select name="departamento" id="departamento" class="form-control" formControlName="departamento">
                  <option value="">Departamento*</option>
                  <option value="San Salvador">San Salvador</option>
                  <!--
                    <option value="Ahuachapan">Ahuachapan</option>
                    <option value="Cabañas">Cabañas</option>
                    <option value="Chalatenango">Chalatenango</option>
                    <option value="Cuscatlán">Cuscatlán</option>
                    <option value="La Libertad">La Libertad</option>
                    <option value="La Paz">La Paz</option>
                    <option value="La Unión">La Unión</option>
                    <option value="Morazán">Morazán</option>
                    <option value="San Miguel">San Miguel</option>
                    <option value="San Salvador">San Salvador</option>
                    <option value="San Vicente">San Vicente</option>
                    <option value="Santa Ana">Santa Ana</option>
                    <option value="Sonsonate">Sonsonate</option>
                    <option value="Usulután">Usulután</option>
                  -->
                    
                    
                </select>
                <span *ngIf="this.formularioDireccion.get('departamento').touched && this.formularioDireccion.get('departamento').errors?.required">
                  (Debe seleccionar un departamento)
                </span>
              </div>
              <div class="col-6">
                <select name="municipio" id="municipio" class="form-control" formControlName="municipio">
                    <option value="">Municipio*</option>
                    <option value="Aguilares">Aguilares</option>
                    <option value="Apopa">Apopa</option>
                    <option value="Ayutuxtepeque">Ayutuxtepeque</option>
                    <option value="Cuscatancingo">Cuscatancingo</option>
                    <option value="El Paisnal">El Paisnal</option>
                    <option value="Guazapa">Guazapa</option>
                    <option value="Ilopango">Ilopango</option>
                    <option value="Mejicanos">Mejicanos</option>
                    <option value="Nejapa">Nejapa</option>
                    <option value="Panchimalco">Panchimalco</option>
                    <option value="Rosario de Mora">Rosario de Mora</option>
                    <option value="San Marcos">San Marcos</option>
                    <option value="San Martín">San Martín</option>
                    <option value="San Salvador">San Salvador</option>
                    <option value="Santiago Texacuangos">Santiago Texacuangos</option>
                    <option value="Santo Tomás">Santo Tomás</option>
                    <option value="Soyapango">Soyapango</option>
                    <option value="Tonacatepeque">Tonacatepeque</option>
                    <option value="Delgado">Delgado</option>
                </select>
                <span *ngIf="this.formularioDireccion.get('municipio').touched && this.formularioDireccion.get('municipio').errors?.required">
                  (Debe seleccionar un municipio)
                </span>
              </div>
          </div>
          <div class="modal-footer justify-content-between">
            <p>Campos con * son requeridos</p>
            <button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')" [disabled]="formularioDireccion.invalid">Guardar</button>
          </div>
      </form>
    </div>
    
</ng-template>

<button class="btn my-2" type="button" (click)="modal.open(content)">Nueva dirección</button>
