

/*=============== TITLE ================*/
.navbar-brand{ 
    font-family: 'Biryani', sans-serif;
    color: black;  
    font-size: 1.5em;
  }
  /*======================================*/
  
  
  .bg-light{
    background-color: rgba(176, 23, 31) !important; 
    padding: 0  ;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
  }
  
  .nav-text{   
    margin: 5px 20px 0px; 
    display:inline-block;
    font-family: 'Biryani', sans-serif;
    font-size: 0.9em;
    color: white !important;  
    overflow: visible;
  }
  
 
  .authblocknav{
    position: relative;
    display: inline-block;
    text-decoration: none;
    margin-left: 10px;
    width: 100px;
    height: 17px;
  }
  .authblocknav p{
    top: 1;
    display: block;
    color: white;
    font-size: 1.05em;
    cursor: pointer;
  }
  .webcolor{
    overflow: visible !important;
    background-color: rgba(176, 23, 31) !important; 
  }
  
  .webcolor .btn-info{
    border: none;
  }
  .botoncartcolor{
    color: white;
    background-color: #252525 !important;
    border: none;
  }
  .botoncartcolor:active{
    background-color: #252525;
    border: none;
  }
  .botoncartcolor:visited{
    background-color: #252525;
    border: none;
  }
  /* Nuevo Diseño */
  
  .cuerpo{
    --color-1: #fff;
    --color-2: rgba(184,182,181,0.2);
    background: 
    linear-gradient(135deg, var(--color-1) 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, var(--color-1) 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, var(--color-1) 25%, transparent 25%),
    linear-gradient(45deg, var(--color-1) 25%, transparent 25%);	
    background-size: 8em 8em;
    background-color:var(--color-2); 
  }
  
  .cantidad{
    position: relative;
    left: -5px;
    top: -10px;
    transform: scale(0.9);
  }
  
  .logo{
    transform: scale(0.5);
  }
  
  .historial{
    color:  #0098D5;
  }
  ul li a{
     margin-left:20px;
     font-size: 1rem !important;  
  }
  a:hover{
      cursor: pointer;
  }

  .filtromasaactive {
     background-color: rgba(176, 23, 31) !important;
     border-bottom: 5px solid white; 
     border-radius: 0 !important;
  }